ENTER TEXT HERE

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    "Seafaring": [532800, 1065600, 1598400, 2131200, 2664000, 3196800, 3729600, 4262400, 4795200, 5328000, 
                  5860800, 6393600, 6926400, 7459200, 7992000, 8524800, 9057600, 9590400, 10123200, 10656000, 
                  11188800, 11721600, 12254400, 12787200, 13320000],
    "Economy": [532800, 1065600, 1598400, 2131200, 2664000, 3196800, 3729600, 4262400, 4795200, 5328000, 
                5860800, 6393600, 6926400, 7459200, 7992000, 8524800, 9057600, 9590400, 10123200, 10656000, 
                11188800, 11721600, 12254400, 12787200, 13320000],
    "Science": [610560, 1221120, 1831680, 2442240, 3052800, 3663360, 4273920, 4884480, 5495040, 6105600, 
                6716160, 7326720, 7937280, 8547840, 9158400, 9768960, 10379520, 10990080, 11600640, 12211200, 
                12821760, 13432320, 14042880, 14653440, 15264000],
    "Military": [532800, 1065600, 1598400, 2131200, 2664000, 3196800, 3729600, 4262400, 4795200, 5328000, 
                 5860800, 6393600, 6926400, 7459200, 7992000, 8524800, 9057600, 9590400, 10123200, 10656000, 
                 11188800, 11721600, 12254400, 12787200, 13320000]
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)
df.head()  # Display the first 5 rows

ENTER TEXT HERE

In [ ]:
# Calculate the total cost for each tech tree
total_costs = df.sum()
total_costs

ENTER TEXT HERE

In [ ]:
# Define the server settings directly
research_cost_multiplier = 0.5  # e.g., 0.5 for 50%, 1.5 for 150%
rp_production_multiplier = 2.0  # e.g., 0.5 for 50%, 1.5 for 150%

ENTER TEXT HERE

In [ ]:
# Number of cities
num_cities = 8

# Scientists per city
scientists_per_city = 122

# RP produced per hour by one scientist
rp_per_scientist = 1

# Total RP produced per hour by all cities, adjusted for server multiplier
total_rp_per_hour = num_cities * scientists_per_city * rp_per_scientist * rp_production_multiplier

# Calculate the total RP required for each tech tree, adjusted for server multiplier
total_rp_needed = df.sum().sum() * research_cost_multiplier

# Calculate the total time required to produce the total RP needed (in hours)
total_time_hours = total_rp_needed / total_rp_per_hour

# Convert time from hours to days
total_time_days = total_time_hours / 24

# Convert time from days to years
total_time_years = total_time_days / 365.25  # Accounting for leap years

total_time_hours, total_time_days, total_time_years